.productSlider {
	.productSliderActive {
		width: 100%;
		height: 486px;
		border-radius: 20px;
		margin-bottom: 12px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.productSliderThumbnails {
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;

		.arrow {
			background: none;
			border: none;
			cursor: pointer;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 13px;
				height: 21px;
			}

			&.left {
				position: absolute;
				left: 0;
			}

			&.right {
				position: absolute;
				right: 0;
			}
		}

		.thumbnailsContainer {
			display: flex;
			gap: 10px;
			width: 90%;
			overflow: hidden;
			justify-content: flex-start;
			margin: 0 auto;
			padding: 0 10px;

			img {
				width: 216px;
				height: 121px;
				display: block;
				gap: 0;
				margin: 0 8px;
				border-radius: 20px;
				object-fit: cover;
				cursor: pointer;
				opacity: 0.6;
				transition: opacity 0.3s, transform 0.3s;

				&.active {
					opacity: 1;
					transform: scale(1.1);
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
