.productSlider {
	.productSliderActive {
		width: 100%;
		height: 486px;
		border-radius: 20px;
		margin-bottom: 12px;

		img {
			width: 100%;
			height: 100%;
			cursor: pointer;
			border-radius: 20px;
			object-fit: cover; /* Ensure image is properly scaled */
		}
	}

	.productSliderThumbnails {
		position: relative;
		.arrow {
			background: none;
			border: none;
			cursor: pointer;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 30%;

			img {
				width: 13px;
				height: 21px;
			}

			&.left {
				position: absolute;
				left: 0;
			}

			&.right {
				position: absolute;
				right: 0;
			}
		}
		.slick-slide img {
			width: 216px;
			height: 121px;
			border-radius: 10px;
			margin: 8px; /* Margin between the images */
			opacity: 0.6;
			&.active {
				opacity: 1;
			}

		}

		.slick-track {
			width: 100% !important;
			height: 200px;
			display: flex;
			flex-wrap: nowrap;
		}
		.slick-initialized .slick-slide {
			width: 216px !important;
			height: 121px !important;
			border-radius: 10px;
			margin: 8px;
		}

		.slick-list {
			padding: 0 10px;
			width: 90%;
			margin: 0 auto;
		}
	}

	.arrow {
		background: none;
		border: none;
		cursor: pointer;
	}
}

.popupSlider {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(128, 128, 128, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fadeIn 0.3s ease;
	padding: 10px;

	.popupContent {
		position: relative;
		width: 100%;
		max-width: 90%;
		height: 80vh;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		padding: 20px;
		overflow: hidden;
		animation: slideUp 0.3s ease-out;

		.popupArrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: none;
			border: none;
			padding: 20px;
			cursor: pointer;
			color: #000;

			img {
				width: 40px;
				height: 40px;
			}

			&.left {
				left: 15px;
			}

			&.right {
				right: 15px;
			}
		}

		.popupImage {
			width: 90%;
			max-height: 100%;
			object-fit: contain;
			border-radius: 12px;
		}

		.closePopup {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			cursor: pointer;
			padding: 10px;
		}
	}
}