@media (max-width: 1199.98px) {
  .productSlider {
    .productSliderActive {
      height: 402px;
    }
    .productSliderThumbnails {
      .arrow {
        display: none;
      }

      .slick-list {
        width: 100%;
      }

      .thumbnailsContainer {
        width: 100%;
        padding: 0;

        img {
          width: 153.6px;
          height: 104px;
        }
      }
    }
  }


}

@media (max-width: 576.99px) {
  .productSlider {
    .productSliderThumbnails .slick-slide {
      margin: 16px 0;
    }
    .productSliderActive {
      height: 202px;
    }
  }
}

@media (max-width: 400px) {}