@media (max-width: 1199.98px) {
	.similarSliderWrapper {
		padding: 12px;

		.profileSlider {
			.sliderTitle {
				padding: 0;
				margin-bottom: 24px;
			}
			.customArrow {
				display: none;
			}

			.slideItem {
				.products {
					margin-top: 0;

					.product {
						min-width: 196px;
						width: 100%;
						margin: 0 6px !important;
					}
				}
			}
		}
	}
}

@media (max-width: 576.99px) {
	.similarSliderWrapper {
		border-radius: 0;

		.product {
			padding: 0 !important;
			&.productFull {
			}
		}
		.profileSlider {

			.slick-list {
				.slick-track {
					width: fit-content !important;
				}

			}
			.slick-slide {
				margin-right: 0;
				justify-content: center;
			}

			.sliderTitle {
				padding: 12px;
				font-size: 18px;
			}
			.slideItem {
				.products {
					margin-top: 0;
				}
			}
		}
	}
}

