.team {
	h2 {
		font-size: 24px;
		font-weight: 400;
		color: #212529;
	}

	.teamItems {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.teamItem {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 45px;
			width: calc(50% - 20px);
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50%;
				margin-bottom: 8px;
			}
			.teamItemInfo {
				h3 {
					font-size: 16px;
					font-weight: 600;
					line-height: 19.5px;
					color: #0E1A32;
				}
			}
		}
	}

	.seeMore {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 36px;
		cursor: pointer;

		span {
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: -0.001em;
			color: #96C5F9;
			margin-right: 10px;
		}
		img {
			width: 17px;
			height: 12px;
		}
	}
}

@media (max-width: 575.98px) {
	.team {
		.teamItems {
			width: 95%;
			.teamItem {
				width: 100%;
				margin-top: 20px !important;

				img {
					margin-right: 10px;
					width: 80px;
					height: 80px;
				}
				.teamItemInfo {
					h3 {
						font-size: 10px;
					}
					p {
						font-size: 8px;
						line-height: 0;
						margin: 8px 0;
					}
					span {
						font-size: 8px;
						line-height: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.team {
		.teamItems {
			width: 95%;
			.teamItem {
				margin-top: 45px;
				width: 100%;
				margin-top: 25px !important;

				.teamItemInfo {
					h3 {
						font-size: 16px;
					}
					p {
						font-size: 13px;
					}
					span {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.team {
		.teamItems {
			width: 95%;
			.teamItem {
				margin-top: 35px;
				width: calc(50% - 10px);
				img {
					width: 100px;
					height: 100px;
				}
				.teamItemInfo {
					h3 {
						font-size: 14px;
					}
					p {
						font-size: 11px;
						margin: 5px 0;
						line-height: 11px;
					}
					span {
						font-size: 11px;
						line-height: 11px;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.team {
		.teamItems {
			width: 95%;
			.teamItem {
				margin-top: 45px;
				width: 100%;

				img {
					margin-right: 25px;
				}
				.teamItemInfo {
					h3 {
						font-size: 16px;
					}
					p {
						font-size: 13px;
					}
					span {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
	.team {
		.teamItems {
			width: 95%;
			.teamItem {
				margin-top: 45px;
				width: calc(50% - 10px);
				.teamItemInfo {
					h3 {
						font-size: 16px;
					}
					p {
						font-size: 13px;
					}
					span {
						font-size: 13px;
					}
				}
			}
		}
	}
}
